<%- include('header') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop <span></span> Checkout
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        
        <div class="row">
          <div class="col-md-6">
            <div class="mb-25">
              <h4>Billing Details</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="order_review">
              <div class="mb-20">
                <h4>Your Orders</h4>
              </div>
              <div class="table-responsive order_table text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Product</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (product.length> 0) { %> <% for (let i=0; i < product.length; i++) { %>
                        <tr>
                          <td class="image product-thumbnail">
                            <img src="/admin/assets/imgs/category/<%= product[i].images[i] %>" alt="#" />
                          </td>
                          <td>
                            <input type="hidden" id="productId" value="<%= product[i]._id %>" />
                            <h5>
                              <a href="shop-product-full.html">
                                <%= product[i].title %>
                              </a>
                            </h5>
                            <span class="product-qty">x <%= user.cart[i].quantity %></span>
                          </td>
                          <td>$<%= product[i].price %>
                          </td>
                        </tr>
                        <% } %>
                          <% } else { %>
                            <div class="card-body">
                              <p>No Product in your cart . Please add a product .</p>
                            </div>
                            <% } %>

                              <tr>
                                <th>SubTotal</th>
                                <td class="product-subtotal" id="subtotalValue" colspan="2">
                                  $<%= sum %>
                                </td>
                              </tr>
                              <tr>
                                <th>Shipping</th>
                                <td colspan="2"><em>Free Shipping</em></td>
                              </tr>
                              <tr>
                                <th>Total</th>
                                <td colspan="2" class="product-subtotal">
                                  <span id="totalValue" value="<%= sum %>" class="font-xl text-brand fw-900">$<%= sum
                                      %>
                                  </span>
                                </td>
                              </tr>
                  </tbody>
                </table>
              </div>
              <div class="bt-1 border-color-1 mt-30 mb-30"></div>
              <div class="payment_method">
                <div class="mb-25">
                  <h5>Payment</h5>
                </div>
                <div class="payment_option">
                  <div class="custome-radio">
                    <input class="form-check-input payment" type="radio" value="cod" name="payment_option"
                      id="CashOnDelivey" checked="" />
                    <label class="form-check-label" for="CashOnDelivey" data-bs-toggle="collapse"
                      data-target="#CashOnDelivey" aria-controls="CashOnDelivey">Cash on Delivery</label>
                  </div>


                </div>
              </div>
              <button id="submitButten" class="btn btn-fill-out btn-block mt-30"
                onclick="placeOrder('<%= user._id %>')">
                Place Order
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <% if (user.address.length> 0) { %>

              <% for (let i=0; i < user.address.length; i++) { %>

                <div class="form-check col-md-6">
                  <input class="form-check-input address" type="radio" name="flexRadioDefault"
                    id="<%= user.address[i] %>" value="<%= user.address[i]._id %>" />
                  <label class="form-check-label" for="flexRadioDefault1">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">Shipping Address</h5>
                      </div>

                      <div class="card-body">
                        <address>
                          Name: <%= user.address[i].fullName %><br />
                            Pin: <%= user.address[i].pinCode %>
                              <%= user.address[i].townCity %><br />
                                Landmark: <%= user.address[i].ladmark %><br />
                                  House: <%= user.address[i].addressLine %><br />
                                    Street: <%= user.address[i].areaStreet %><br />
                                      Phone: <%= user.address[i].mobile %>
                        </address>
                        <p>
                          <%= user.address[i].region %>
                        </p>
                      </div>
                    </div>
                  </label>
                </div>

                <% } %>
                  <% } else { %>
                    <div class="card-body">
                      <p>No address found. Please add an address.</p>
                    </div>
                    <% } %>
          </div>
        </div>
      </div>
  </section>
</main>


<script>


  async function placeOrder(userId) {
      var address = $('.address:checked').val();
      var payment = $('.payment:checked').val();
  
      
  
      const displayedSum = document.getElementById('totalValue').textContent;
      const numericValue = parseFloat(displayedSum.replace(/[^\d.]/g, ''));
  
      if (!payment) {
          Swal.fire({
              title: 'NO PAYMENT FOUND!',
              text: 'please select your Payment.',
              icon: 'error',
              timer: 3000,
          });
      }
  
      if (!address) {
          Swal.fire({
              title: 'NO ADDRESS FOUND!',
              text: 'please select your address.',
              icon: 'error',
              timer: 3000,
          });
      } else {
          $.ajax({
              url: '/orderPlaced',
              method: 'POST',
              data: {
                  totalPrice: numericValue,
                  createdOn: Date.now(),
                  date: Date.now(),
                  addressId: address,
                  payment: payment,
              },
              async: true,
              success: function(response) {
                  
                  if (response.method =='cod') {
                    
                      $.ajax({
                          url: '/deleteCart',
                          method: 'get',
                          success: (response) => {
                              if (response.status) {
                              
                                  Swal.fire({
                                      title: "Order success",
                                      text: "order placed successfully",
                                      icon: "success",
                                      showConfirmButton: false,
                                      timer: 2000,
                                  });
  
                                  location.href = '/allOrderDetails';
                              }
                          }
                      });
                  }
                  

  
                      else {
                          
                          Swal.fire({
                              title: 'Error Occured',
                              text: "Can't process order error occured",
                              icon: 'fail',
                              timer: 5000
                          })
  
                      }
                  }
              })
            
      }
  }
</script>    


<%- include('footer') %>