<%- include('header') %>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row justify-content-center">
                           
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                   
                                       

                                        <!-- card for the dash bord user simple details -->
                                           
                                        <div class="card">
                                            <div class="card-header">
                                                <h5> Edit Address</h5>
                                            </div>
                                            <div class="card-body">
                                               
                                                <form method="post" action="/updateNewAddress" >
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Full Name</h5></label>
                                                            <input required="" class="form-control square" value="<%= address.fullName %>" name="fullName" type="text">
                                                        </div>
                                                        
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Mobile number</h5></label>
                                                            <input required="" class="form-control square" value="<%= address.mobile %>" name="mobile" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Region</h5></label>
                                                            <input required="" class="form-control square" name="region" value="<%= address.region %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Pincode</h5></label>
                                                            <input required="" class="form-control square" value="<%= address.pinCode %>" name="pinCode" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Flat, House no., Building, Company, Apartment</h5></label>
                                                            <input required="" class="form-control square" value="<%= address.addressLine %>" name="addressLine" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label> <h5>Area, Street, Sector, Village</h5></label>
                                                            <input required="" class="form-control square" name="areaStreet" value=" <%= address. areaStreet %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label><h5>Landmark</h5> </label>
                                                            <input required="" class="form-control square" name="ladmark" value=" <%= address.ladmark %>" type="text">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label><h5>Town/City</h5> </label>
                                                            <input required="" class="form-control square" name="townCity" value="<%= address.townCity %>" type="text">
                                                        </div> 
                                                        <div class="form-group col-md-6">
                                                            <label><h5>State</h5></label>
                                                           
                                                            <select required="" class="form-control square" name="state">
                                                                <option value="">--Select State--</option>
                                                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                                <option value="Assam">Assam</option>
                                                                <option value="Bihar">Bihar</option>
                                                                <option value="Chhattisgarh">Chhattisgarh</option>
                                                                <option value="Goa">Goa</option>
                                                                <option value="Gujarat">Gujarat</option>
                                                                <option value="Haryana">Haryana</option>
                                                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                                <option value="Jharkhand">Jharkhand</option>
                                                                <option value="Karnataka">Karnataka</option>
                                                                <option value="Kerala">Kerala</option>
                                                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                                <option value="Maharashtra">Maharashtra</option>
                                                                <option value="Manipur">Manipur</option>
                                                                <option value="Meghalaya">Meghalaya</option>
                                                                <option value="Mizoram">Mizoram</option>
                                                                <option value="Nagaland">Nagaland</option>
                                                                <option value="Odisha">Odisha</option>
                                                                <option value="Punjab">Punjab</option>
                                                                <option value="Rajasthan">Rajasthan</option>
                                                                <option value="Sikkim">Sikkim</option>
                                                                <option value="Tamil Nadu">Tamil Nadu</option>
                                                                <option value="Telangana">Telangana</option>
                                                                <option value="Tripura">Tripura</option>
                                                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                                <option value="Uttarakhand">Uttarakhand</option>
                                                                <option value="West Bengal">West Bengal</option>
                                                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                                <option value="Chandigarh">Chandigarh</option>
                                                                <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu</option>
                                                                <option value="Lakshadweep">Lakshadweep</option>
                                                                <option value="Delhi">Delhi</option>
                                                                <option value="Puducherry">Puducherry</option>
                                                            </select>
                                                            
                                                        </div>
                                                        </div>
                                                     
                                                       
                                                        <div class="form-group col-md-6">
                                                            <label for="addressType"><h5>Address Type</h5></label>
                                                            <select id="addressType" class="form-control square" name="addressType" required>
                                                                <option value="">Select Address Type</option>
                                                                <option value="Home">Home</option>
                                                                <option value="Work">Work</option>
                                                                <option value="Other">Other</option>
                                                            </select>
                                                        </div>
                                                        <input type="hidden" name="id" value="<%=address._id %>">
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Save</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %>
   