       
       
<%- include('header') %>

<br>
    <br>
    <br>
<div class="row">
    <div class="col-lg-1">
        
    </div>
    
    <div class=" col-lg-11">
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p>Details for Order ID: <%=order._id %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%=order.createdOn.toDateString() %></b>
                            </span> <br>
                            <small class="text-muted">Order ID:  <%=order._id %></small>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                          
                            <a class="btn btn-primary" href="/invoice?id=<%= order._id%>">invoice</a>
                            <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= user.username %> <br> <%= user.email %><br> +1<%= user.mobile %>
                                    </p>
                                    <a href="/profile">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping:<%= order.address[0].adressType %>  <br> Pay method:<%= order.payment %>  <br> Status: <%= order.status %> 
                                    </p>
                                    
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= order.address[0].townCity %> <br> <%= order.address[0].addressLine %> <br> Po Box <%= order.address[0]. pinCode %> <br>
                                    <a href="#">View profile</a>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>




                                        <% for (let i=0; i < order.product.length;i++) { %>
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                           
                                                            <img src="/admin/assets/imgs/category/<%=order.product[i].image %>" width="40" height="40" class="img-xs" alt="Item">
                                                            
                                                        </div>
                                                        <div class="info"> <%= order.product[i].title %> </div>
                                                    </a>
                                                </td>



                                       

                                               
                                                   
                                                    <td><%= order.product[i].price %></td>
                                                    <td> x<%=order.product[i].quantity  %></td>
                                                    <td>$<%= order.product[i].price *order.product[i].quantity %></td>
                                                    
                                            </tr>
                                        


                                            <% } %> 
                                      
                                        
                                        
                                        
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>$<%= (order.totalPrice).toFixed(2) %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>$10.00</dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">$<%= (order.totalPrice+10.00).toFixed(2) %></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status: </dt>
                                                        <dd>
                                                            <span class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                            <a class="btn btn-primary" href="/allOrderDetails">View Orders</a>
                            <a class="btn btn-primary" href="/index">Continue Shoping</a>

                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                    <img src="/admin/assets/imgs/card-brands/2.png" class="border" height="20"> <%= order.payment %> <br>
                                    Business name: Grand Market LLC <br>
                                    Phone: +1 (800) 555-154-52
                                </p>
                            </div>
                            <div class="h-25 pt-4">
                                <div class="mb-3">
                                    <label>Notes</label>
                                    <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                </div>
                                <button class="btn btn-primary" >Save note</button>
                            </div>
                            
                           
                        </div> <!-- col// -->
                       
                    </div>
                    
                </div> <!-- card-body end// -->
               
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </div>
</div>
<br>
<br>
<br>
<br>
    <br>
    <br>
  
    <%- include('footer') %>
    