<%- include('header') %>
<script>
    function formatDate(dateString) {
        const date = new Date(dateString);
        const options = { year: 'numeric', month: 'short', day: '2-digit' };
        return date.toLocaleDateString(undefined, options);
    }
</script>
<br>
<br>
<br>

  
       <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List </h2>
                        
                    </div>
                    <!-- <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white">
                    </div> -->
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <!-- <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control">
                            </div> -->
                            <!-- <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div> -->
                            
                            </div>
                        </div>
                    </header> <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <!-- <th>#ID</th> -->
                                        <th scope="col">Products</th>
                                       
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col" class="text-end"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (orders.length> 0) { %>
                                    <% for (let i=0; i < orders.length;i++) { %>
                                        <% for (let j = 0; j < orders[i].product.length; j++) { %>
                                        <tr>
                                            <!-- <td><%=orders[i]._id %></td> -->
                                            <td><b><%= orders[i].product[j].title  %></b></td>
                                           
                                            <td>₹<%= orders[i].totalPrice %></td>

                                            <% if (orders[i].status=='pending') { %>

                                                <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                                <% } else if(orders[i].status=='conformed'){ %>
                                                    <td><span class="badge rounded-pill alert-success">conformed</span></td>
                                                    <% } else if(orders[i].status=='canceled'){ %>
                                                        <td><span class="badge rounded-pill alert-danger">Cancelled</span></td>
                                                <% } else if(orders[i].status=='shipped'){ %>
                                                    <td><span class="badge rounded-pill alert-success">shipped</span></td>
                                                    <% } else if(orders[i].status=='delivered'){ %>
                                                        <td><span class="badge rounded-pill alert-success">delivered</span></td>
                                                        <% } else if(orders[i].status=='returned'){ %>
                                                            <td><span class="badge rounded-pill alert-danger">returned</span></td>
                                                            <% } else if(orders[i].status=='returnrequested'){ %>
                                                                <td><span class="badge rounded-pill alert-danger">return requested</span></td>

                                                                <% } else if(orders[i].status=='returnreject'){ %>
                                                                    <td><span class="badge rounded-pill alert-danger">return rejected</span></td>
                                                        <% } %>
                                

                                                    <td><%= orders[i].createdOn.toLocaleDateString() %></td>
                                            <td class="text-end">
                                                <a href="/orderDetails?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>" class="btn btn-md rounded font-sm"style= "width:95px">Detail</a>
                                                <% if (orders[i].status=='pending') { %>
                                                <a href="/cancelOrder?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>" class="btn btn-md rounded font-sm">Cancel</a>
                                                <% } else if(orders[i].status=='conformed'){ %>
                                                    <a href="/cancelOrder?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>" class="btn btn-md rounded font-sm">Cancel</a>
                                                   

                                                    <% } else if(orders[i].status=='canceled'){ %>
                                                        <% } else if(orders[i].status=='shipped'){ %>
                                                            <a href="/cancelOrder?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>"" class="btn btn-md rounded font-sm">Cancel</a>
                                                            <% } else if(orders[i].status=='delivered'){ %>
                                                                <!-- <a href="/return?id=<%= orders[i].product[j]._id %>&orderId=<%= orders[i]._id %>"" class="btn btn-md rounded font-sm">Return</a> -->
                                                                <% } else if(orders[i].status=='returned'){ %>

                                                    <% } %> 
                                                
                                            
                                            </td>
                                        </tr>

                                        <% } %> 
                                        <% } %>
                                        <% } else { %>
                                            <tr>
                                              <td colspan="2">No item found in Oders</td>
                                            </tr>
                                            <% } %>
                                   
                                   
                                    
                                   
                                  
                                 
                                   
                                   
                                   
                                 
                                  
                                </tbody>
                            </table>
                        </div> <!-- table-responsive //end -->
                    </div> <!-- card-body end// -->
                </div> <!-- card end// -->
                




                            </section> <!-- content-main end// -->
        </div>
       </div>
     
    <%- include('footer') %>
       