<%- include('header') %>

<style></style>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-11">
          <div class="shop-product-fillter">
            <div class="totall-product"></div>
          </div>
          <div class="row product-grid-3">
            <% if (product.length > 0) { %> <% for (let i = 0; i <
            product.length; i++) { %>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
              <a href="/aProduct?id=<%= product[i].id %>">
                <div class="product-cart-wrap mb-30">
                  <div class="product-img-action-wrap">
                    <div class="product-img product-img-zoom">
                      <a href="/aProduct?id=<%= product[i].id %>">
                        <img
                          class="default-img"
                          src="/admin/assets/imgs/category/<%= product[i].images[0] %>"
                          alt=""
                        />
                        <img
                          class="hover-img"
                          src="/admin/assets/imgs/category/<%= product[i].images[1] %>"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="product-action-1">
                      <a
                        <a
                        aria-label="Add To Wishlist"
                        class="action-btn hover-up"
                        onclick="wishList('<%= product[i]._id %>')"
                        ><i class="fi-rs-heart"></i
                      ></a>
                      <a
                        aria-label="Compare"
                        class="action-btn hover-up"
                        href="#"
                        ><i class="fi-rs-shuffle"></i
                      ></a>
                    </div>
                  </div>
                  <div class="product-content-wrap">
                    <div class="product-category">
                      <a href="#"><%= product[i].category %></a>
                    </div>
                    <h2><a href="#"><%= product[i].title %></a></h2>
                    <div class="rating-result" title="90%">
                      <span>
                        <span><%= product[i].rating %> </span>
                      </span>
                    </div>
                    <div class="product-price">
                      <span>$<%=product[i].price %> </span>
                      <span class="old-price"
                        >$<%= Math.round(product[i].price+50) %></span
                      >
                      <a
                        class="float-right"
                        onclick="addToCart('<%= product[i].id %>')"
                        ><i class="fi-rs-shopping-bag-add"></i
                      ></a>
                    </div>
                    <div class="">
                      <!-- Use a common class "add-to-cart-btn" for all add to cart buttons -->
                      <!-- <a href="/addToCart?id=<%= product[i].id %>""><i class="fi-rs-shopping-bag-add"></i></a> -->

                      <!-- <a aria-label="Add To Cart" class="action-btn hover-up add-to-cart-btn" href="/addToCart?id=<%= product[i].id %>"> <i class="fi-rs-shopping-bag-add"></i> </a> -->
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <% } %> <% } else { %>
            <tr>
              <td colspan="2">Product not found</td>
            </tr>
            <% } %>
          </div>
          <!--pagination-->
          <% if (totalPages) { %>
          <div class="pagination">
            <% if (page > 1) { %>
            <button class="btn btn-sm">
              <a href="?page=<%= page - 1 %>">Previous</a>
            </button>
            <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
            <!-- Change the loop to start from 1 and go up to totalpages -->
            <button class="btn btn-sm">
              <a href="?page=<%= i %>" class="<%= i === page ? 'active' : '' %>"
                ><%= i %></a
              >
            </button>
            <% } %> <% if (page < totalPages) { %>
            <button class="btn btn-sm">
              <a href="?page=<%= page + 1 %>">Next</a>
            </button>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function wishList(id) {
    $.ajax({
      url: `/addToList?id=${id}`,
      method: "get",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "ADDED TO WISHLIST",
            text: "You seleted a Product to the wishlist",
            icon: "success",
            timer: 3000,
          });
        } else {
          Swal.fire({
            title: "ALREADY SELECTED!",
            text: "You already selected",
            icon: "error",
            timer: 3000,
          });
        }
      },
    });
  }
</script>
<script>
  function addToCart(id) {
    let cartCountValue = parseInt($("#cart-Count").text());
    cartCountValue += 1;

    // Set the incremented value back to the span
    $("#cart-Count").text(cartCountValue);

    $.ajax({
      url: `/addToCart?id=${id}`,
      method: "get",
      success: (response) => {
        if (response.status) {
          Swal.fire({
            title: "ADD TO CART",
            text: "Product Added to cart",
            icon: "success",
            timer: 1000,
            showConfirmButton: false, // This removes the button
          });
        } else {
          alert("errro");
        }
      },
    });
  }
</script>

<%- include('footer') %>
